studs{
display:block;
background-color:#ff9999;
}
Usn{
	display:block;margin-top:20px;font-size:10pt;color:black;
}
Name{
	display:block;margin-top:20px;font-size:10pt;color:black;
}
College{
	display:block;margin-top:20px;font-size:10pt;color:black;
}
Branch{
	display:block;margin-top:20px;font-size:10pt;color:black;
}
Year{
	display:block;margin-top:20px;font-size:10pt;color:black;
}
e-mail{
	display:block;margin-top:20px;font-size:10pt;color:black;
}
